<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Play Domain</title>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom styles for this template -->
    <link href="css/new-age.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="http://www.freepngimg.com/download/headphones/30758-2-headphones-with-music-clip-art.png">

</head>

<body id="page-top">
<main role="main">

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 id="Play">Play Domain</h1>
              <h1 class="mb-5" id="discover">Discover, follow, and generate playlists based<br>on your favorite artists.</h1>
              <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Get Started Now!</a>
            </div>

          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>



<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
                 
<section class="download bg-primary text-center" id="download">
      <h2 id="find">Find an Artist</h2>
     <form class="search-form" role = "search">
    <input type="text" label for="searching" class="search" id="searching" placeholder="enter artist name">
    <button type="button" class="btn btn-outline btn-xl" id="search-btn">Search</button>
  </form>

<!-- Content Display -->
    <div id="container" style="display:none;" role="contentinfo">
      <button type="button" class="closing" onclick="lose();">&times;</button>
      <button id="add">Save Playlist</button>

      <div class="playlist">
        <div class="loader">
          <div class="inner-circle"></div>
        </div>
      </div>

      <div id="tracks">

        <!-- Holds Top Tracks -->

      </div> 
    </div>




  <div id = "popularArtists">
    <h2 id="topTen">Top Ten Artists</h2>
    <!-- holds popular artists -->
  </div>

</section>


</main>
  <script src="public/js/main.js"></script>
  </body>
</html>