<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Play Domain</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
<!---Favicon-->
<link rel="icon" type="image/png" href="http://www.freepngimg.com/download/headphones/30758-2-headphones-with-music-clip-art.png">
</head>

<body>
<main role="main">
    <header class="masthead">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 id="Play">Play Domain</h1>
              <p class="mb-5" id="discover">Generate Spotify playlists based on two or more of your favorite artists!<br><br>To get started, register or log in with demo account: <br>User: newplayer<br>Password: music</p>
          </div>
       </div>
      </div>
  </div>
</header>
<!-- show if logged in -->
{{#if user}}            
<section class="download bg-primary text-center" id="download" role="content">
  <h2 id="first">First, log in to Spotify</h2>
 <div id="backing">
   <p class="demo">Demo account: playdomainapp@gmail.com<br>Password: playdomain</p>
 </div>

<button class="btn btn-outline btn-xl" id="btn-login" onclick="SpotifyLogin();">Login to Spotify</button>

    <h2 id="find">Then Enter Two or More Artists</h2>
<form class="search-form" role="search">
    <input type="text" class="search" placeholder="ex: The Beatles, Coldplay, Foals">
    <button type="button" class="btn btn-outline btn-xl" id="search-btn">Search</button>
</form>

<!-- content display -->
<div id="container" style="display:none;" role="contentinfo">
      <button type="button" class="closing" onclick="lose();"></button>
          <div class="playlist">
              <div class="loader">
           <div class="inner-circle"></div>
        </div>
    </div>
 </div>
</section>
{{/if}}

</main>
  <script src="js/main.js"></script>
  </body>
</html>