
html, body {
  overflow: auto;
  background: url(https://i.imgur.com/DkVYTXa.jpg) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#find {
  font-size: 55px;
  color: white;
  text-shadow: 0 0 5px black, 0 0 10px #fff, 0 0 20px #ffe100, 0 0 30px #ffe100, 0 0 40px #ffe100, 0 0 55px #ffe100, 0 0 75px #ffe100;
}

#first {
  font-size: 55px;
  padding-bottom: 15px;
  color: white;
  text-shadow: 0 0 5px black, 0 0 10px #fff, 0 0 20px #ffe100, 0 0 30px #ffe100, 0 0 40px #ffe100, 0 0 55px #ffe100, 0 0 75px #ffe100;
}

#Play {
  color: gold; 
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
  margin-top: -10px;
  margin-left: -60px;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

/* playlist display */
#container {
  opacity: 0.95;
  position: absolute;
  display: table;
  padding:0;
  top:0;
  left:0;
  right: 0;
  background-color: #202020;
  margin-top: 20px;
  width: 40%;
  min-height: 80px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

#contentinfo {
  position: fixed;
}

/* Close Button */
.closing {
  display:block;
  width:40px;
  height:40px;
  border-width:3px;
  border-style: solid;
  border-color:gold;
  border-radius:80%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:gold;
  box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
}

.closing:hover {
  background-color: rgba(255,255,255, 0.3);
}

/* Links */
a {
  color: whitesmoke;
  font-family: Century Gothic;
  font-size: 25px;
}

#discover {
  font-size: 25px;
  margin-top: 40px;
  margin-left: -60px;
  font-style: italic;
  line-height: 30px;
  text-shadow: -1px -1px 15px rgba(255, 255, 0, 0.52);
}

.demo {
  font-size: 25px;
  margin-top: 40px;
  font-style: italic;
  line-height: 30px;
  text-shadow: 5px 5px 6px #000, 1px 1px #000, 1px 1px rgba(255, 255, 0, 0.52);
}

#backing {
  position: relative;
    width:520px;
    height:60px;
    background: rgba(24,24,24, 0.5);
    box-shadow: 0 0 5px 5px rgba(32,32,32, 0.5);
    margin: auto;
    top: -30px;
}

#download {
  width: 100%;
  color: white;
  background: url(https://i.imgur.com/mDMj2AO.jpg) no-repeat;
  background-size: cover;
  height: 700px;
}

h2 {
  color: gold;
  font-size: 120%;
  text-align: center;
  font-family: Century Gothic;
  text-shadow: 2px 2px    #202020;
}

h3 {
  color: gold;
  font-size: 120%;
  text-shadow:  2px 2px    #202020;
  font-family: Century Gothic;
}

#btn-login{
  position: relative;
  margin: auto;
  display: block
  top: -40px;
  font-size: 18px;
  font-family: Helvetica;
  line-height: 120%;
  color: whitesmoke;
  background-color: #1db954;
  border: 1px solid #202020;
  padding: 10px 12px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 40px;
  width: 200px;
  height:50px;
  border-radius: 30px;
}

#btn-login:hover, #submit:hover {
  color: black;
  background-color: #ffe100;
  border:none;
  box-shadow: 0 0 5px black, 0 0 4px #fff, 0 0 5px #ffe100, 0 0 6px #ffe100, 0 0 7px #ffe100, 0 0 8px #ffe100, 0 0 10px #ffe100;
}

/*Search Button*/
#search-btn {
  position: relative;
  top: -170px;
 font-size: 18px;
  font-family: Helvetica;
  line-height: 120%;
  color: #202020;
  background-color: gold;
  border: 1px solid #202020;
  padding: 10px 12px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 40px;
  width: 200px;
  height:50px;
  border-radius: 30px;
}

#search-btn:hover {
  color: black;
  background-color: #ffe100;
  border:none;
  box-shadow: 0 0 5px black, 0 0 4px #fff, 0 0 5px #ffe100, 0 0 6px #ffe100, 0 0 7px #ffe100, 0 0 8px #ffe100, 0 0 10px #ffe100;
}

#submit {
position: relative;
margin: auto;
display: block
top: -40px;
font-size: 15px;
font-family: Helvetica;
color: black;
background-color: gold;
border: 1px solid #202020;
padding: 5px 5px;
text-decoration: none;
cursor: pointer;
margin-bottom: 40px;
width: 200px;
height:50px;
}

.search-form {
  max-width:380px;
  margin:225px auto;
}
 ::-webkit-input-placeholder { 
  color:   #202020;
}

iframe {
  border: none;
}

footer {
  text-align: center;
}


input.search {
      text-align: center;
      outline:0;
      border: 1px solid #202020;
      background:rgba(255,255,255, 0.6);
      transition: background-color ease 400ms;
      color: black;
      width: 120%;
      left: -10%;
      position: relative;
      top: -180px;
      border-radius: 10px;
      font-size: 28px;
      font-family: Helvetica;
      box-shadow: 0px 0px 300px black;
    }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px red inset !important;
}

 a:link {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
 }

 a:hover {
  color: gold;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  transform: scale(1.1);
 }

 @media screen and (min-width : 320px) and (max-width : 480px) {
  body{ 
    background: url(https://i.imgur.com/DkVYTXa.jpg) no-repeat 50% 50%;
    background-size: cover;
   background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  }
}

/*media query*/
@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 250%;
  }
}

label {
  color: gold;
  font-family: Century Gothic;
}

.container li {
   display: inline;
    padding-right: 30px;
}

.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}

@media screen and (min-width: 48em) {
 .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 2rem;
  }
}

footer{
  margin-top: 40px;
}

.loader {
  display: none;
}

.loader.show {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.6);
  animation: load ease 3s infinite;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.inner-circle {
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
  background: rgba(255,255,255,0.6);
}

@keyframes load {
  0%{
    border-size: 5px;
  }
  50% {
    width: 20px;
    height: 20px;
    border-size: 1px;
  }
  100% {
    border-size: 5px;